uvicorn[standard]==0.29.0

# Security & Auth
python-jose==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9

# Database
pymongo==4.6.1
dnspython==2.6.1

# Env vars
python-dotenv==1.0.1

# Data models & validation
fastapi>=0.111.0
pydantic>=2.8.0

email-validator==2.1.1
